
.cell.snake {
  border-radius: 7px;
  background: #9acd32;
}

.snake.head {
  position: relative;   
  border-radius: 43%;
}

.snake.head::before {
   content: "";
  position: absolute;
  top: 20%;      
  margin-left: 15%;               
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);  
  border-radius: 50%;
}
.snake.head::after {
  content: "";
  position: absolute;
  top: 30%;   
  width: 5px;
  height: 5px;
  background: rgb(0, 0, 0);    
  border-radius: 50%;
}

.snake.head::before {
  left: 25%;             
}
.snake.head::after {
  right: 25%;            
}

.tail-vertical,
.tail-horizontal {
  background: #9acd32;
  display: block;
  margin: auto;
}

.tail-vertical {
  width: 16px;
  height: 100%;
}

.tail-horizontal {
  width: 100%;
  height: 16px;
}

.main-instructions-txt {
      -webkit-text-stroke-width: thin;
      color: #f4f3ee;
}

#instructions {
  margin-top: 3em;
}

#controls-text,
#instructions{
  border-radius: 6px;
  background-color: #487a69;
}

#controls-div {
      padding: 7px;
    width: 10em;
    height: 20em;
 align-self: normal;
  margin-top: 23px;
background-color: #2b4e32;
}