#header{
display: flex;
  font-size: 1.2em;
  background-color: grey;
}

#grid-body {
  padding-top: 150px;
  justify-content: center;
   display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(21, 20px);
  background-color: rgb(17, 139, 58);
}

.cell {
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
}
.cell.snake {
  background: rgb(138, 4, 4);
}

#restart-Button{
 justify-self: anchor-center;
 background-color: rgb(78, 182, 230);

}